@page
@model LegalLib.DeniedModel
@{
    ViewData["Title"] = "Denied";
}

<h1 class="text-danger">Access Denied</h1>
<h2 class="text-danger">Anda tidak memiliki akses untuk melihat menu ini</h2>

Kembali ke <a href="/">Menu Utama</a>