@page
@model LegalLib.MenuModel

@{
    ViewData["Title"] = "Menu";
}


@Model.SUsername
@{ 
    if (Model.SUsername == null) { HttpContext.Response.Redirect("Login"); }
}
<br />
<strong>PERATURAN EXTERNAL</strong>    
<ul>
@foreach (var item in Model.tblCategory) {
            <li>
                @Html.DisplayFor(modelItem => item.Category)
            </li>        
}
</ul>

<strong>PERATURAN INTERNAL</strong>
<ul>
    <li><a href="https://www.google.com">Portal STK</a></li>
</ul>

<strong>MASTER DATA
</strong>
<ul>
    <li><a asp-page="/Criteria/Index">MASTER CRITERIA</a></li>
    <li><a asp-page="/Category/Index">MASTER CATEGORY</a></li>
    <li><a asp-page="/Klasifikasi/Index">MASTER KLASIFIKASI</a></li>
</ul>
<strong><a asp-page="/Approval/Index">APPROVAL LIST</a></strong>
<br />
<strong><a asp-page="/Login/Logout">LOGOUT</a></strong>