@page
@model LegalLib.SearchIndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Search Page</h1>

<form method="post">
    <table>
        <tr>
            <td>Nomor  Peraturan </td>
            <td><input type="text" /></td>

        </tr>
        <tr>
            <td>Criteria</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Perihal</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Tanggal Berlaku</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Klasifikasi</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Search" class="btn btn-primary" />
            </td>
            <td></td>
        </tr>
    </table>
                    

    </form>


