@page
@model LegalLib.AddKlasifikasiModel

@{
    ViewData["Title"] = "AddKlasifikasi";
}

<h1>AddKlasifikasi</h1>

<form method="post">
    <table class="table">
        <tr>
            <th>Pilihan</th>
            <th>Klasifikasi</th>

        </tr>
        @for (var i = 0; i <Model.KlasifikasiSL.Count; i++)
        {


            <tr>
                <td>
                    <input type="checkbox" asp-for="@Model.AreChecked.FirstOrDefault" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KlasifikasiID) - @Html.DisplayFor(modelItem => item.Klasifikasi)
                </td>

            </tr>
        }
    </table>
    
    <input type="submit" value="Pilih" class="btn btn-primary" />
</form>

Pilihan



<a asp-page="./Edit" asp-route-id="KlasifikasiID">Add</a> |

