@page
@model LegalLib.DocCreateModel

@{
    ViewData["Title"] = "DocCreate";
    ViewData["URL"] = Model.Configuration["Setting:ExternalURL"];
}

<h1>DocCreate Document</h1>

<h4>tblLegalDocument</h4>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
